
  <div class="">

  <div class="banner" *appShowAuthed="false">
    <div class="" id="navcontainer"> 
        <div class="row">
          <div class="col-12">
          <a  routerLink="/"><img id="logo" src="assets/images/logo.png"></a>
          <div id="vision">Think less,Trip more.</div>
          <!-- Show this for logged out users -->
          <ul *appShowAuthed="false"
            class="nav navbar-nav pull-xs-right">

            <li class="nav-item">
              <a class="nav-link"
                routerLink="/">
                Home
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                routerLink="/login"
                routerLinkActive="active">
                Sign in
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                routerLink="/register"
                routerLinkActive="active">
                Sign up
              </a>
            </li>

          </ul>

          <!-- Show this for logged in users -->
          <ul *appShowAuthed="true"
            class="nav navbar-nav pull-xs-right">

            <li class="nav-item">
              <a class="nav-link"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Home
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                routerLink="/editor"
                routerLinkActive="active">
                <i class="ion-compose"></i>&nbsp;New Article
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                routerLink="/settings"
                routerLinkActive="active">
                <i class="ion-gear-a"></i>&nbsp;Settings
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="['/profile', currentUser.username]"
                routerLinkActive="active">
                <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
                {{ currentUser.username }}
              </a>
            </li>

          </ul>
        </div>
        </div>
       <div id="tabsRow">
          <button mat-raised-button routerLink="" (click)="changeBg(1)"
          [ngClass] = "{'selectedBtn':selectedBtnIndex === 1}"
          class="menuBtn">Plan a Trip</button>
          <button mat-raised-button routerLink="tab2" (click)="changeBg(2)" 
          [ngClass] = "{'selectedBtn':selectedBtnIndex === 2}"
          class="menuBtn">Add a Trip</button>
          <button mat-raised-button routerLink="tab3" (click)="changeBg(3)" 
          [ngClass] = "{'selectedBtn':selectedBtnIndex === 3}"
          class="menuBtn">Populars</button>
       </div>
    </div>
  </div>
  </div>

