NodeJsApi/node_modules/

NodeJsApi/package-lock\.json

newClient/node_modules/

NodeJsApi/.vscode/

newClient/dist/

triplanServer/node_modules/

triplanServer/package-lock\.json

triplanClient/node_modules/

NER/.idea/workspace.xml