<div class="container">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading text-center">No Results</div>
        <div class="panel-body" align="center">
          <section>
            
            <aside>
              <img src="../../assets/images/bee_no_results_1032383.png" height="50%" width="50%">
            </aside>

            <h1>That's a miss!</h1> 
            <h5 style="text-align: center">
              Sorry, that filter combination has no results. <br>
              Please try a different criteria. <br>   
            </h5>
            <button mat-button color="primary" (click)="menuButtonClicked('wizard')">New search</button>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
