@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-color: #e0e0e0;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-row button {
  margin: 0.5vw;
}

.logo {
  height: 100%;
}

.toolbar {
  margin-bottom: 3vh;
  
}

mat-toolbar.toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
  background-image: url(/assets/images/matos.jpg);
}