<mat-card class="card">
	<mat-card-content>
<aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step [stepTitle]="'Location'" [navigationSymbol]="{ symbol: '&#xf278;', fontFamily: 'FontAwesome' }">
    <div class="centered-content">
      <header class="header">
        Let's start with the basic details
			</header>
			<div class="centerContent">
					<app-auto-complete id="location" align="center"></app-auto-complete>
		  </div>
      <div class="">
        <button type="button" class="btn btn-secondary rightBtn" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Time'" [navigationSymbol]="{ symbol: '&#xf017;', fontFamily: 'FontAwesome' }">
    <div class="centered-content">
      <header class="header">
        How much time would you like your trip to be?
      </header>
			<div class="row">
                                            
				<div class="col-sm-2 col-sm-offset-2">
						<div class="form-group">
								<label>Amount</label><br>
								<input id="amount" type="number" name="amount" value="10" placeholder="amount" align="right" class="form-control border-input" />
						</div>
				</div>
				<div class="col-sm-2 col-sm-offset0">
						<div class="form-group">
								<label>Days range</label><br>
								<input id="range" type="number" name="range" value="0" placeholder="range" align="right" class="form-control border-input" />
						</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Period</label><br>
						<select name="period" class="form-control" id="period">
								<option value="days"> Days </option>
								<option value="weeks"> Weeks </option>
										<option value="months"> Months </option>
										<option value="years"> Years </option>
						</select>
					</div>
				</div>
			</div>
      <div class="">
        <button type="button" class="btn btn-secondary leftBtn" awPreviousStep>Back</button>
        <button type="button" class="btn btn-secondary rightBtn" awNextStep>Continue</button>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Tags'" [navigationSymbol]="{ symbol: '&#xf02c;', fontFamily: 'FontAwesome' }">
    <div class="centered-content">
      <header class="header">
        Select the best tags for your trip!
      </header>
			<div class="col-sm-3" *ngFor="let theme of themes">
				<label class="containerit">{{theme.item}}
					<input class="tag" type="checkbox" name="{{theme.item}}" (click)="toggleCheckbox($event)">
					<span class="checkmark"></span>
				</label>
			</div>
      <div class="">
        <button type="button" class="btn btn-secondary leftBtn" awPreviousStep>Back</button>
        <button type='button' (click)="finishFunction()" class="btn btn-secondary rightBtn">Finish</button>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
</mat-card-content>
</mat-card>