ul {
    list-style-type: none;
    background-color: #FAFAFA;
    padding: 0;
    margin-right: 1vw;
    margin-bottom: 0;
  }

  .resultCard{
    margin-bottom: 2vh;
  }

  .cardThemes{
      background-color: #9E9E9E;
  }

  .header{
      background-color: white;
  }