<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">About us</div>
        <div class="panel-body" align="center">
          Current User email: {{ currentUser.email }}
          <br>
          
          <video width="320" height="240" controls>
              <source src="../../assets/videos/Be a Hotel Rockstar.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> <br>
          <canvas id="myCanvas" width="650" height="30">
            </canvas>
        </div>
      </div>
    </div>
  </div>
</div>