<div class="container">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading text-center">About us</div>
        <div class="panel-body" align="center">
          <section>
            
            <aside>
              <img src="../../assets/images/cartoon.jpg" height="100%" width="100%">
            </aside>

            <h1>Triplan!</h1> 
            <h3 style="text-align: center">
              Relax.. take a deep breath! <br>
              And let us help you to find <br>
              the best.. most perfect.. <br>
              trip exactly for you :)    
            </h3>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<footer style="text-align: center">
  Current User email: {{ currentUser.email }}
</footer>